<nav class="navbar navbar-expand-lg navbar-dark bg-primary"> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/">
        <img src="/assets/logo.svg" width="35" height="30" class="d-inline-block align-top" alt="">
        Squire
      </a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/login">Login <span class="sr-only">(current)</span></a>
          </li>
      </ul>
    </div>
  </nav>
<div class="container">
<router-outlet></router-outlet>
</div>
