<div *ngIf="task">
  <h2>
    <span *ngIf="!isEditMode">{{task.title}}</span>
    <span *ngIf="isEditMode">Title:
      <input type="text" class="form-control" id="title" required [(ngModel)]="task.title" name="title" #title="ngModel">
    </span>
  </h2>
  <p class="lead">
    <span *ngIf="!isEditMode">{{task.description}}</span><span *ngIf="isEditMode">Description<input type="text" class="form-control" id="description" required [(ngModel)]="task.description" name="description" #description="ngModel"></span>
  </p>
  <div class="card mb-1">
    <h4 class="card-header">Action</h4>
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{task.action.type}}</h5>
        </div>
        <p [ngSwitch]="task.action.type" class="mb-1">
          <span *ngSwitchCase="'url'">
            <span *ngIf="!isEditMode">{{task.action.payload.method}}: </span>
          <span *ngIf="isEditMode">Method:
              <input type="text" class="form-control" id="url" required [(ngModel)]="task.action.payload.method" name="method">
            </span><span *ngIf="!isEditMode">{{task.action.payload.url}}</span>
          <span *ngIf="isEditMode">URL:
              <input type="text" class="form-control" id="url" required [(ngModel)]="task.action.payload.url" name="url">
            </span>
          </span>
          <span *ngSwitchDefault>
            <span *ngIf="!isEditMode">{{task.action.payload | json}}</span>
          <span *ngIf="isEditMode">Payload:
              <input type="text" class="form-control" id="payload" required [(ngModel)]="task.payload" name="payload">
            </span>
          </span>
        </p>
      </li>
    </ul>
  </div>
  <div class="card mb-1">
    <h4 class="card-header">Parameters</h4>
    <ul class="list-group list-group-flush">
      <li *ngFor="let parameter of task.parameters; let i = index" [attr.data-index]="i" class="list-group-item list-group-item-action flex-column align-items-start">
        <h5 class="mb-1"><span *ngIf="!isEditMode">{{parameter.name}}</span>
          <span *ngIf="isEditMode">Name:
              <input type="text" class="form-control" required [(ngModel)]="parameter.name">
            </span></h5>
        <p class="mb-1"><span *ngIf="!isEditMode">{{parameter.prompt}}</span>
          <span *ngIf="isEditMode">Prompt:
              <input type="text" class="form-control" required [(ngModel)]="parameter.prompt">
            </span></p>
            <button *ngIf="isEditMode" (click)="removeParameter(i)" class="btn btn-primary" type="button">Remove</button>
      </li>
      <div *ngIf="task.parameters.length === 0" class="card-body">
        <p class="card-text">No parameters given.</p>
      </div>
      <li *ngIf="isEditMode" class="list-group-item list-group-item-action flex-column align-items-start">
          <button (click)="addParameter();" class="btn btn-primary" type="button">Add Parameter</button>
      </li>
    </ul>
  </div>
</div>

<button *ngIf="!isEditMode" (click)="toggleEditMode()" class="btn btn-primary" type="button">Edit</button>
<button *ngIf="isEditMode" (click)="toggleEditMode(); updateTask();" class="btn btn-primary" type="button">Save</button>
<button *ngIf="isEditMode" (click)="toggleEditMode(); cancelUpdate();" class="btn btn-primary" type="button">Cancel</button>
<button (click)="goBack()" class="btn btn-primary" type="button">Back</button>